includes:
#  - phpstan-baseline.neon
  - ../../vendor/friendsoftypo3/phpstan-typo3/extension.neon

parameters:
  # Use local .cache dir instead of /tmp
  tmpDir: .cache/phpstan

  level: 5

  bootstrapFiles:
    - phpstan-constants.php

  paths:
    - ../../

  excludePaths:
    # ext_emconf.php get the $_EXTKEY set from outsite. We'll ignore all of them
    - ../../ext_emconf.php
    - ../../.testing/
    - ../../vendor/
    - ../../bin/
    - ../../public/
    - ../../Examples/
    - ../../Documentation/
